<li>
	{{name}}
	{{#unless dev}}
	<button class="change-devoured" data-id="{{id}}" data-devoured="{{dev}}" style="float: right; margin-top:-3px;">DEVOUR <i class='fas fa-hamburger' style="float: right; margin-left:4px;"></i></button>
	{{/unless}}
</li>
